<div id="tabs">
    <div class="caption"></div>
    <dx-tabs #apiTabs [dataSource]="tabs" (onItemClick)="selectTab($event)"></dx-tabs>
</div>
<div class="posicion mt-3 ml-5 mr-5 mb-3">
    <dx-form #formhistoriasinfirmar labelLocation="left">
        <dxi-item itemType="group">
            <dx-data-grid #grid id="grid-historiasinfirmar" keyExpr="Idpaciente" [dataSource]="historisinfirmargrid"
                [showRowLines]="false" [showColumnLines]="true" [showBorders]="true" [rowAlternationEnabled]="true"
                [hoverStateEnabled]="true">

                <!-- Paginación -->
                <dxo-scrolling mode="infinite"></dxo-scrolling>

                <!-- Columnas -->
                <dxi-column dataField="idpaciente" [width]="180" [visible]="false"></dxi-column>
                <dxi-column dataField="nroAtención" [width]="180"></dxi-column>
                <dxi-column dataField="horaCita" [width]="140"></dxi-column>
                <dxi-column dataField="fecha" [width]="180"></dxi-column>
                <dxi-column dataField="paciente" [width]="280"></dxi-column>
            </dx-data-grid>
        </dxi-item>
        <dxi-item itemType="group">
            <dxi-item itemType="group">
                <dxi-item dataField="observación">
                </dxi-item>
            </dxi-item>
        </dxi-item>
        <dxi-item itemType="group" [colCount]="4">
            <dxi-item itemType="group">
                <dxi-item dataField="citas Asiganadas" [editorOptions]="{ disabled: true }">
                </dxi-item>
            </dxi-item>
            <dxi-item itemType="group">
                <dxi-item dataField="citas Atendidas" [editorOptions]="{ disabled: true }">
                </dxi-item>
            </dxi-item>
            <dxi-item itemType="group">
                <dxi-item dataField="historias Firmadas" [editorOptions]="{ disabled: true }">
                </dxi-item>
            </dxi-item>
            <dxi-item itemType="group">
                <dxi-item dataField="historias Sin firmar" [editorOptions]="{ disabled: true }">
                </dxi-item>
            </dxi-item>
        </dxi-item>
    </dx-form>
</div>