::ng-deep .dx-datagrid-headers {
    color: #ffffff !important;
    background-color: #38ada5 !important;
    font-weight: bolder!important;
    font: 100 14px verdana !important;
}

::ng-deep #grid-historiasinfirmar {
    height: 495px;
    max-width: 100% !important;
    text-align: start;
}

.asignarpoc {
    text-transform: uppercase !important;
}

.dx-tabs {
    border: 0px solid #dedede !important;
    display: table-caption !important;
    margin-left: 50px;
    margin-right: -10px !important;
    border: 1px solid #dedede !important;
}

/* ::ng-deep .dx-tab.dx-tab-selected {
    border: 1px solid #dedede !important;
} */

::ng-deep .dx-layout-manager .dx-tabpanel .dx-multiview-item-content {
    padding: 4px !important;
    margin-top: -7px !important;
}

.caption {
    margin-top: 8px !important;
}