<!-- <div class="wrapper-toolbar">
    <dx-toolbar>
        <dxi-item location="before" widget="dxButton" class="mr-1" [options]="homeButtonOptions">
        </dxi-item>
        <dxi-item location="before" widget="dxButton" [options]="GuardartodoButtonOptions">
        </dxi-item>
        <dxi-item location="before" widget="dxButton" [options]="ImprimirtodoButtonOptions">
        </dxi-item>
        <dxi-item location="center" widget="dxButton" locateInMenu="never">
            <div *dxTemplate class="remisionpoc">
                <b></b>
            </div>
        </dxi-item>
    </dx-toolbar>
</div> -->
<router-outlet></router-outlet>