::ng-deep .dx-field-item-label-text {
  color: #000000 !important;
  font-weight: 400 !important;
  text-align: end !important;
}

::ng-deep .dx-field-item-label-text .label {
  color: #000000 !important;
  font-weight: 400 !important;
  text-align: end !important;
}

::ng-deep .dx-toolbar-items-container {
  margin-top: 5px !important;
  height: 28px !important;
}

::ng-deep .container .mt-1 {
  margin-top: 1rem !important;
}

::ng-deep .dx-texteditor.dx-editor-outlined {
  background: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 4px;
}

::ng-deep .dx-button-mode-contained.dx-button-default {
  background-color: #38ada5;
  border-color: transparent;
  color: #fff;
}

::ng-deep .dx-field-item-label-text {
  color: #000000 !important;
  font-weight: 400 !important;
}

/*
::ng-deep .dx-button-has-icon.dx-button-has-text .dx-button-content {
  padding: 3px 12px;
}

::ng-deep .dx-button-has-icon .dx-button-content {
  padding: 3px;
}

::ng-deep .dx-button-mode-contained {
  border-radius: 5px;
}

::ng-deep .dx-htmleditor-content {
  height: 300px !important;
  text-align: start !important;
}

::ng-deep .dx-texteditor.dx-editor-outlined {
  height: 23px !important;
}

::ng-deep .dx-layout-manager .dx-label-h-align.dx-flex-layout .dx-field-item-label {
  height: 0px !important;
  line-height: 1px !important;
}

::ng-deep .dx-layout-manager .dx-label-h-align .dx-field-item-label .dx-field-item-label-content {
  margin-right: -2px !important;
}

::ng-deep .dx-layout-manager .dx-field-item:not(.dx-first-row) {
  margin-top: -2px !important;
} */

/* ::ng-deep .dx-tabpanel .dx-tabs {
    display: inline-table !important;
} */

/* ::ng-deep .dx-tabpanel .dx-tabs-wrapper {
    display: inline-table !important;
} */
