::ng-deep #grid-asignaradmin {
    height: 465px;
    max-width: 100% !important;
    text-align: center;
}

::ng-deep .dx-datagrid-headers {
    color: #ffffff !important;
    background-color: #38ada5 !important;
    font-weight: bolder!important;
    font: 100 14px verdana !important;
}

.asignarpoc {
    text-transform: uppercase !important;
}