<div class="posicion mt-3 ml-5 mr-5 mb-3">
  <dx-form #Fromadmision [(formData)]="asignarAdmisionDto" labelLocation="left">
    <dxi-item itemType="group" [colCount]="2">
    </dxi-item>
    <dxi-item itemType="group">
      <dx-data-grid id="grid-asignaradmin" keyExpr="codigoPaciente" [dataSource]="pacientes" [showRowLines]="false"
        [showColumnLines]="true" [showBorders]="true" [rowAlternationEnabled]="true" [hoverStateEnabled]="true"
        [selectedRowKeys]="[]">

        <!-- Paginación -->
        <dxo-scrolling mode="infinite"></dxo-scrolling>

        <dxo-editing mode="row" [allowUpdating]="false" [allowAdding]="false" [allowDeleting]="false">
        </dxo-editing>
        <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
        <!-- Columnas -->
        <dxo-selection mode="single"></dxo-selection>

        <dxi-column dataField="orden" [visible]="false"></dxi-column>
        <dxi-column dataField="horaCita" caption="Hora cita" [width]="90"></dxi-column>
        <dxi-column dataField="horaLlegada" caption="Hora llegada" [width]="110"></dxi-column>
        <dxi-column dataField="identificacionPaciente" caption="Identificación"></dxi-column>
        <dxi-column caption="Nombres" [calculateCellValue]="calculateCellValueNombres"></dxi-column>
        <dxi-column caption="Apellidos" [calculateCellValue]="calculateCellValueApellido"></dxi-column>
        <dxi-column dataField="fechaNacimientoPaciente" caption="Fecha de nacimiento"></dxi-column>
        <dxi-column type="buttons" dataField="Seleccionar">
          <dxi-button text="Seleccionar" [onClick]="viewButtonClick"></dxi-button>
        </dxi-column>
      </dx-data-grid>
    </dxi-item>
    <dxi-item itemType="group" [colCount]="4">
      <dxi-item itemType="group" [colSpan]="4">
        <dxi-item dataField="actividad">
        </dxi-item>
      </dxi-item>
    </dxi-item>
    <dxi-item itemType="group" [colCount]="4">
      <dxi-item itemType="group" [colSpan]="4">
        <dxi-item dataField="observación">
        </dxi-item>
      </dxi-item>
    </dxi-item>

    <dxi-item itemType="group" [colCount]="4">
      <dxi-item itemType="group">
        <dxi-item dataField="citas Asiganadas" [editorOptions]="{ disabled: true }">
        </dxi-item>
      </dxi-item>
      <dxi-item itemType="group">
        <dxi-item dataField="citas Atendidas" [editorOptions]="{ disabled: true }">
        </dxi-item>
      </dxi-item>
      <dxi-item itemType="group">
        <dxi-item dataField="historias Firmadas" [editorOptions]="{ disabled: true }">
        </dxi-item>
      </dxi-item>
      <dxi-item itemType="group">
        <dxi-item dataField="historias Sin firmar" [editorOptions]="{ disabled: true }">
        </dxi-item>
      </dxi-item>
    </dxi-item>
  </dx-form>
</div>
