<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="container">
    <div class="row">
      <div *ngFor="let pregunta of preguntas"
        class="col-xs-12 col-md-{{ pregunta.controlType === 'textArea' || pregunta.controlType === 'titulo'  ? 12 : numeroColumnas}}">
        <app-pregunta-dinamica [pregunta]="pregunta" [form]="form" [formSubmitted]="submitted"></app-pregunta-dinamica>
      </div>
    </div>

    <div *ngIf="payLoad" class="form-row">
      <strong>Valores a guardar</strong><br>{{payLoad}}
    </div>
    <dx-form #frombotonHistoriaClinica labelLocation="top">
      <dxi-item itemType="group">
        <dxi-item itemType="group" [colSpan]="1">
          <div *dxTemplate class="d-flex justify-content-start mt-4 mb-3">
            <dx-button icon="fas fa-save" type="info" text="Guardar paciente" class="mr-2"></dx-button>
          </div>
        </dxi-item>
      </dxi-item>
    </dx-form>
  </div>

</form>