::ng-deep .dx-datagrid-headers {
    color: #ffffff !important;
    background-color: #38ada5 !important;
    font-weight: bolder!important;
    font: 100 14px verdana !important;
}

::ng-deep .dx-button-mode-contained .button {
    width: 300px !important;
}

.incapacidadpoc {
    text-transform: uppercase !important;
}