<div class="wrapper-toolbar">
    <dx-toolbar>
        <dxi-item location="before" widget="dxButton" [options]="homeButtonOptions">
        </dxi-item>
        <dxi-item location="before" widget="dxButton" [options]="GuardartodoButtonOptions">
        </dxi-item>
        <dxi-item location="before" widget="dxButton" [options]="ImprimirtodoButtonOptions">
        </dxi-item>
        <dxi-item location="before" widget="dxButton" [options]="AdjuntarArchivoButtonOptions">
        </dxi-item>
        <dxi-item location="center" widget="dxButton" locateInMenu="never">
            <div *dxTemplate class="historiaclinicapoc">
                <b></b>
            </div>
        </dxi-item>
    </dx-toolbar>
</div>