::ng-deep .dx-form-group-with-caption .dx-form-group-content {
    text-align: start !important;
}

::ng-deep .dx-button-text {
    margin-right: 14px !important;
}

.admisionpoc {
    text-transform: uppercase !important;
}

::ng-depp .dx-form-group-with-caption .dx-form-group.dx-form-group-with-caption {
    padding-left: 0px !important;
}

.dx-tabs {
    border: 0px solid #dedede !important;
    display: inline-block !important;
    margin-left: 10px;
    margin-right: -10px !important;
}

::ng-deep .dx-tab.dx-tab-selected {
    border: 1px solid #dedede !important;
}

.dx-tab-content {
    width: 10rem !important;
}

::ng-deep .dx-layout-manager .dx-tabpanel .dx-multiview-item-content {
    padding: 4px !important;
    margin-top: -7px !important;
}

.caption {
    margin-top: 8px !important;
}

.wrapper-toolbar {
    margin-top: 11px !important;
    margin-left: 12px !important;
    margin-right: 12px !important;
    overflow: visible;
    background-color: #f5f5f5;
    color: #28484f;
    padding: 0 !important;
    overflow: visible !important;
    border-radius: 4px;
    border-color: #38ada5 !important;
    border-bottom: 1.3px solid;
}