::ng-deep .dx-datagrid-headers {
    color: #ffffff !important;
    background-color: #38ada5 !important;
    font-weight: bolder!important;
    font: 100 14px verdana !important;
}

.titulo {
    border-bottom: solid 1px #38ada5;
}

::ng-deep .dx-htmleditor-content {
    height: 339px !important;
}

.grid-increibleDx {
    height: 100px !important;
}