<div class="posicion mt-2 mr-5 ml-5">
    <dx-form #fromayudasd labelLocation="left">
        <dxi-item itemType="group">
            <dxi-item itemType="group" [colCount]="2">
                <dxi-item itemType="group">
                    <dxi-item dataField="identificación" [editorOptions]="{ disabled: true }">
                    </dxi-item>
                    <dxi-item dataField="nombres" [editorOptions]="{ disabled: true }">
                    </dxi-item>
                    <dxi-item dataField="apellidos" [editorOptions]="{ disabled: true }">
                    </dxi-item>
                </dxi-item>
                <dxi-item itemType="group">
                    <dxi-item dataField="administradora" [editorOptions]="{ disabled: true }">
                    </dxi-item>
                    <dxi-item dataField="plan" [editorOptions]="{ disabled: true }">
                    </dxi-item>
                </dxi-item>
            </dxi-item>
        </dxi-item>
    </dx-form>
</div>