<div class="posicion mt-3 ml-5 mr-5">
    <dx-form #formAdmision labelLocation="left">
        <dxi-item itemType="group" caption="Información del paciente">
            <dxi-item itemType="group">
                <dxi-item itemType="group">
                    <dxi-item dataField="orden" [editorOptions]="{ width:'16%' }">
                    </dxi-item>
                </dxi-item>
            </dxi-item>
            <dxi-item itemType="group" [colCount]="2">
                <dxi-item itemType="group">
                    <dxi-item dataField="Tipo Ide" editorType="dxSelectBox"
                        [editorOptions]="{ items: itemsTipoid, displayExpr: 'value', valueExpr: 'key' }">
                        <dxi-validation-rule type="required" message="El Tipo de indentificacion es requerido">
                        </dxi-validation-rule>
                        <dxo-label text="Tipo Ide"></dxo-label>
                    </dxi-item>
                    <dxi-item itemType="group">
                        <dxi-item dataField="identificacionPaciente">
                            <dxo-label text="identificación"></dxo-label>
                        </dxi-item>
                    </dxi-item>
                    <dxi-item itemType="group">
                        <dxi-item dataField="nombre1Paciente">
                            <dxo-label text="nombres"></dxo-label>
                            <dxi-validation-rule type="required" message="El Nombre es requerido">
                            </dxi-validation-rule>
                        </dxi-item>
                    </dxi-item>
                    <dxi-item itemType="group">
                        <dxi-item dataField="apellido1Paciente">
                            <dxo-label text="apellidos"></dxo-label>
                            <dxi-validation-rule type="required" message="El apellido es requerido">
                            </dxi-validation-rule>
                        </dxi-item>
                    </dxi-item>
                    <dxi-item itemType="group" [colCount]="4">
                        <dxi-item itemType="group" [colSpan]="2">
                            <dxi-item editorType="dxDateBox" dataField="fechaNacimientoPaciente"
                                [editorOptions]="{ useMaskBehavior: true, placeholder: 'mm/dd/yyyy',
                                max: fecha, min: '01\01\1920', width:'100%', onValueChanged: onValueChangedFechaNacimiento }">
                                <dxi-validation-rule type="required" message="La fecha de nacimiento es requerida">
                                </dxi-validation-rule>
                                <dxo-label text="fecha Nto."></dxo-label>

                            </dxi-item>
                        </dxi-item>
                        <dxi-item itemType="group" [colSpan]="2">
                            <dxi-item dataField="sexoPaciente" editorType="dxSelectBox"
                                [editorOptions]="{ items: itemsSexo, displayExpr: 'value', valueExpr: 'key' }">
                                <dxo-label text="Sexo"></dxo-label>
                                <dxi-validation-rule type="required" message="El Sexo es requerido">
                                </dxi-validation-rule>
                            </dxi-item>
                        </dxi-item>
                    </dxi-item>
                    <dxi-item itemType="group" [colCount]="2">
                        <dxi-item itemType="group">
                            <dxi-item dataField="edad">
                            </dxi-item>
                        </dxi-item>
                        <dxi-item itemType="group">
                            <dxi-item dataField="uME">
                            </dxi-item>
                        </dxi-item>
                    </dxi-item>
                    <dxi-item itemType="group">
                        <dxi-item dataField="telefono">
                            <dxi-validation-rule type="required" message="El Telefono es requerido">
                            </dxi-validation-rule>
                        </dxi-item>
                    </dxi-item>

                </dxi-item>

                <dxi-item itemType="group">
                    <dxi-item itemType="group">
                        <dxi-item dataField="celular">
                            <dxi-validation-rule type="required" message="El Celular es requerido">
                            </dxi-validation-rule>
                        </dxi-item>
                    </dxi-item>
                    <dxi-item itemType="group">
                        <dxi-item dataField="correo"
                            [editorOptions]="{ useMaskBehavior: true, placeholder: 'Usuario@example.com'}">
                            <dxi-validation-rule type="required" message="El Correo electrónico es requerido">
                                <dxo-label text="correo electrónico"></dxo-label>
                            </dxi-validation-rule>
                        </dxi-item>
                    </dxi-item>
                    <dxi-item itemType="group">
                        <dxi-item dataField="pais" editorType="dxSelectBox"
                            [editorOptions]="{ items: itemsPais, displayExpr: 'value', valueExpr: 'key' }">
                            <dxo-label text="País"></dxo-label>
                            <dxi-validation-rule type="required" message="El pais es requerido">
                            </dxi-validation-rule>
                        </dxi-item>
                    </dxi-item>
                    <dxi-item itemType="group">
                        <app-two-fields></app-two-fields>
                        <dxo-label text="municipio"></dxo-label>
                    </dxi-item>
                    <dxi-item itemType="group">
                        <app-two-fields></app-two-fields>
                        <dxo-label text="departamento"></dxo-label>
                    </dxi-item>
                    <dxi-item dataField="zona" editorType="dxSelectBox"
                        [editorOptions]="{ items: itemsZona, displayExpr: 'value', valueExpr: 'key' }">
                        <dxo-label text="Zona"></dxo-label>
                        <dxi-validation-rule type="required" message="La Zona es requerida"></dxi-validation-rule>
                    </dxi-item>
                    <dxi-item itemType="group">
                        <dxi-item dataField="direccionPaciente">
                            <dxo-label text="direccion"></dxo-label>
                            <dxi-validation-rule type="required" message="La dirrección es requerida">
                            </dxi-validation-rule>
                        </dxi-item>
                    </dxi-item>
                </dxi-item>
            </dxi-item>
            <!-- <hr color="blue"> -->
            <dxi-item itemType="group" [colCount]="2">
                <dxi-item itemType="group">
                    <dxi-item itemType="group">
                        <app-two-fields></app-two-fields>
                        <dxo-label text="administradora"></dxo-label>
                    </dxi-item>
                    <dxi-item itemType="group">
                        <app-two-fields></app-two-fields>
                        <dxo-label text="plan"></dxo-label>
                    </dxi-item>
                </dxi-item>
                <dxi-item itemType="group">
                    <dxi-item itemType="group">
                        <dxi-item dataField="t.Vinculación">
                            <dxi-validation-rule type="required" message="El Tipo de Vinculación es requerido">
                            </dxi-validation-rule>
                        </dxi-item>
                    </dxi-item>
                    <dxi-item itemType="group">
                        <dxi-item dataField="t.Usuario">
                            <dxi-validation-rule type="required" message="El Tipop de Usurario es requerido">
                            </dxi-validation-rule>
                        </dxi-item>
                    </dxi-item>
                </dxi-item>
            </dxi-item>

        </dxi-item>
        <dxi-item itemType="group" caption="Datos de admisión" class="Datosadmision">
            <dxi-item itemType="group" [colCount]="2">
                <dxi-item itemType="group">
                    <dxi-item itemType="group">
                        <dxi-item dataField="nombre padre">
                        </dxi-item>
                    </dxi-item>
                    <dxi-item itemType="group">
                        <dxi-item dataField="nombre madre">
                        </dxi-item>
                    </dxi-item>
                    <dxi-item itemType="group">
                        <dxi-item dataField="estadocivil" editorType="dxSelectBox"
                            [editorOptions]="{ items: itemestadocivil, displayExpr: 'value', valueExpr: 'key' }">
                            <dxo-label text="Estado civil"></dxo-label>
                            <dxi-validation-rule type="required" message="El estado civil es requerido">
                            </dxi-validation-rule>
                        </dxi-item>
                    </dxi-item>
                    <dxi-item itemType="group">
                        <dxi-item dataField="escolaridad">
                        </dxi-item>
                    </dxi-item>
                    <dxi-item itemType="group">
                        <dxi-item dataField="ocupación">
                        </dxi-item>
                    </dxi-item>
                </dxi-item>
                <dxi-item itemType="group">
                    <dxi-item itemType="group">
                        <dxi-item dataField="acompañante">
                        </dxi-item>
                    </dxi-item>
                    <dxi-item itemType="group">
                        <dxi-item dataField="telefono acom">
                        </dxi-item>
                    </dxi-item>
                    <dxi-item itemType="group">
                        <app-two-fields></app-two-fields>
                        <dxo-label text="parentesco"></dxo-label>
                    </dxi-item>
                </dxi-item>
            </dxi-item>
            <dxi-item itemType="group" [colCount]="2">
                <dxi-item itemType="group">
                </dxi-item>
                <dxi-item itemType="group">
                    <dxi-item itemType="button" horizontalAlignment="start" [buttonOptions]="buttonOptions">
                    </dxi-item>
                </dxi-item>
            </dxi-item>
        </dxi-item>
    </dx-form>
</div>