<div class="wrapper-toolbar">
    <dx-toolbar>
        <dxi-item location="before" widget="dxButton" class="mr-1" [options]="homeButtonOptions">
        </dxi-item>
        <dxi-item location="before" widget="dxButton" [options]="GuardartodoButtonOptions">
        </dxi-item>
        <dxi-item location="before" widget="dxButton" [options]="ImprimirtodoButtonOptions">
        </dxi-item>
        <dxi-item location="center" widget="dxButton" locateInMenu="never">
            <div *dxTemplate class="remisionpoc">
                <b></b>
            </div>
        </dxi-item>
    </dx-toolbar>
</div>
<div class="posicion mt-2 mr-1 ml-1">
    <dx-form #formhistoriasvc labelLocation="top">
        <dxi-item itemType="group">
            <dxi-item itemType="tabbed" [tabPanelOptions]="{ deferRendering: false }">
                <dxi-tab icon="fas fa-folder-open" title="Historia">
                    <dx-form #formHistoriasgen [formData]="admision" labelLocation="left" class="mt-3 mr-5 ml-4">
                        <dxi-item itemType="group" [colCount]="2">
                            <dxi-item itemType="group">
                                <dxi-item dataField="identificación" [editorOptions]="{ disabled: true }">
                                </dxi-item>
                                <dxi-item dataField="nombres" [editorOptions]="{ disabled: true }">
                                </dxi-item>
                                <dxi-item dataField="apellidos" [editorOptions]="{ disabled: true }">
                                </dxi-item>
                            </dxi-item>
                            <dxi-item itemType="group">
                                <dxi-item dataField="Administradora" [editorOptions]="{ disabled: true }">
                                </dxi-item>
                                <dxi-item dataField="Plan" [editorOptions]="{ disabled: true }">
                                </dxi-item>
                            </dxi-item>
                        </dxi-item>
                    </dx-form>
                    <app-historia-clinica></app-historia-clinica>
                </dxi-tab>
                <dxi-tab icon="fas fa-stethoscope" title="Ayudas DX">
                    <app-ayudas-dx></app-ayudas-dx>
                </dxi-tab>
                <dxi-tab icon="fas fa-blind" title="Incapacidad">
                    <app-incapacidad></app-incapacidad>
                </dxi-tab>
                <dxi-tab icon="fas fa-arrow-right" title="Remisión">
                    <app-remision></app-remision>
                </dxi-tab>
                <dxi-tab icon="fas fa-pills" title="Medicamentos">
                    <app-medicamentos></app-medicamentos>
                </dxi-tab>
                <dxi-tab icon="fas fa-chart-line" title="Evolución">
                    <app-evolucion></app-evolucion>
                </dxi-tab>
                <dxi-tab icon="fas fa-file-image" title="Adjuntar imagenes">
                    <app-adjuntar-archivos></app-adjuntar-archivos>
                </dxi-tab>
            </dxi-item>
        </dxi-item>
    </dx-form>
</div>