.wrapper-toolbar {
    margin-top: 11px !important;
    margin-left: 12px !important;
    margin-right: 12px !important;
    overflow: visible;
    background-color: #f5f5f5;
    color: #28484f;
    padding: 0 !important;
    overflow: visible !important;
    border-radius: 4px;
    border-color: #38ada5 !important;
    border-bottom: 1.3px solid;
}

::ng-deep .dx-tab-text {
    height: 32px !important;
}

.posicion {
    height: 330px !important;
}

.remisionpoc {
    text-transform: uppercase !important;
}