<div class="wrapper-toolbar">
    <dx-toolbar>
        <dxi-item location="before" widget="dxButton" [options]="homeButtonOptions">
        </dxi-item>
        <dxi-item location="center" widget="dxButton" locateInMenu="never">
            <div *dxTemplate class="asignarpoc">
                <b></b>
            </div>
        </dxi-item>
    </dx-toolbar>
</div>
<div class="posicion mt-2 mr-1 ml-1">
    <dx-form #formAdmisiongeneral labelLocation="top">
        <dxi-item itemType="group">
            <dxi-item itemType="tabbed" [tabPanelOptions]="{ deferRendering: false }">
                <dxi-tab icon="fas fa-users" title="Paciente dia">
                    <app-asignar-admision-svc></app-asignar-admision-svc>
                </dxi-tab>
                <dxi-tab icon="fas fa-folder-open" title="Historia sin firmar">
                    <app-historia-sin-firmar></app-historia-sin-firmar>
                </dxi-tab>
                <dxi-tab icon="fas fa-address-book" title="Evolucion">
                    <app-evolucion-general></app-evolucion-general>
                </dxi-tab>
                <dxi-tab icon="fas fa-user-alt" title="Paciente sin cita">
                    <app-paciente-sin-cita></app-paciente-sin-cita>
                </dxi-tab>
            </dxi-item>
        </dxi-item>
    </dx-form>
</div>