<div [formGroup]="form">
  <label [attr.for]="pregunta.key">{{pregunta.label}}</label>

  <div [ngSwitch]="pregunta.controlType">
    <!-- <h2 [id]="pregunta.key" *ngSwitchCase="'titulo'" class="text-Start my-3 titulo">
      {{pregunta.titulo}}
    </h2> -->

    <input *ngSwitchCase="'textbox'" [formControlName]="pregunta.key" [id]="'id' + pregunta.key" [type]="pregunta.type"
      class="form-control w-100">

    <select [id]="'id' + pregunta.key" *ngSwitchCase="'dropdown'" [formControlName]="pregunta.key"
      class="form-control w-100">
      <option *ngFor="let opt of pregunta.options" [value]="opt.key">{{opt.value}}</option>
    </select>
    <!-- <div *ngSwitchCase="'checkbox'">
      <div class="custom-control custom-checkbox my-1 mr-sm-2">
        <input [type]="checkbox" class="custom-control-input" [id]="pregunta.key">
      </div>
    </div> -->
    <textarea [id]="'id' + pregunta.key" *ngSwitchCase="'textArea'" [formControlName]="pregunta.key" rows="5"
      class="form-control w-100"></textarea>

    <div *ngSwitchCase="'textDividido'" class="d-flex align-items-center">
      <div style="width: 15%" class="mr-2">
        <input [formControlName]="pregunta.key" [id]="'id-f1' + pregunta.key" [type]="pregunta.type"
          class="form-control w-100">
      </div>
      <div style="width: 85%">
        <input [formControlName]="pregunta.key" [id]="'id-f2' + pregunta.key" [type]="pregunta.type"
          class="form-control w-100">
      </div>
    </div>
    <div class="text-danger" *ngIf="!isValid && formSubmitted">{{pregunta.label}} es requerido.</div>
  </div>