 ::ng-deep .dx-datagrid-headers {
     color: #ffffff !important;
     background-color: #38ada5 !important;
     font-weight: bolder!important;
     font: 100 14px verdana !important;
 }

 ::ng-deep #grid-ayudasdxs {
     height: 210px;
     max-width: 100% !important;
     margin-left: 150px !important;
     margin-right: 160px !important;
 }

 .ayudasDxpoc {
     text-transform: uppercase !important;
 }