<div class="posicion mt-3 mr-5 ml-5">
    <dx-form #formAyudasdx labelLocation="left" [(formData)]="ayudasDxDto">
        <dxi-item itemType="group">
            <dxi-item itemType="group" [colCount]="2">
                <dxi-item itemType="group">
                    <dxi-item dataField="identificación" [editorOptions]="{ disabled: false }">
                    </dxi-item>
                    <dxi-item dataField="nombres" [editorOptions]="{ disabled: false }">
                    </dxi-item>
                    <dxi-item dataField="apellidos" [editorOptions]="{ disabled: false }">
                    </dxi-item>
                </dxi-item>
                <dxi-item itemType="group">
                    <dxi-item dataField="administradora" [editorOptions]="{ disabled: true }">
                    </dxi-item>
                    <dxi-item dataField="plan" [editorOptions]="{ disabled: true }">
                    </dxi-item>
                </dxi-item>
            </dxi-item>
        </dxi-item>
        <dxi-item itemType="group">
            <div class="separador"></div>
        </dxi-item>
        <dxi-item itemType="group">
            <dxi-item itemType="group" [colCount]="2">
                <dxi-item itemType="group">
                    <dxi-item dataField="Tipo ayuda" editorType="dxSelectBox"
                        [editorOptions]="{ items: itemsTipoayuda, displayExpr: 'value', valueExpr: 'key' }">
                        <dxi-validation-rule type="required" message="Tipo de ayuda es requerido">
                        </dxi-validation-rule>
                        <dxo-label text="Tipo ayuda"></dxo-label>
                    </dxi-item>
                </dxi-item>
                <dxi-item itemType="group">
                    <dxi-item dataField="remitido" editorType="dxSelectBox"
                        [editorOptions]="{ items: itemsremitido, displayExpr: 'value', valueExpr: 'key' }">
                        <dxi-validation-rule type="required" message="Remitido es requerido">
                        </dxi-validation-rule>
                        <dxo-label text="Remitido a"></dxo-label>
                    </dxi-item>
                </dxi-item>
            </dxi-item>
        </dxi-item>
        <!------->
        <dxi-item itemType="group" [colCount]="1" caption="Exámenes">
            <dxi-item itemType="group">
                <dx-data-grid id="grid-ayudasdxs" keyExpr="id" [dataSource]="AyudasDxgrid" [showRowLines]="false"
                    [showColumnLines]="true" [showBorders]="true" [rowAlternationEnabled]="true"
                    [hoverStateEnabled]="true">
                    <!-- Paginación -->
                    <dxo-scrolling mode="infinite"></dxo-scrolling>
                    <dxo-editing mode="row" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true">
                    </dxo-editing>
                    <dxo-selection mode="allMode"></dxo-selection>
                    <dxi-column dataField="id" [visible]="false"></dxi-column>
                    <dxi-column dataField="examen"></dxi-column>
                </dx-data-grid>
            </dxi-item>
        </dxi-item>
        <!-------->
        <dxi-item itemType="group" [colCount]="2">
            <dxi-item itemType="group" [colSpan]="1" caption="Diagnósticos">
                <dx-html-editor [height]="370" [width]="700">
                    <dxo-toolbar>
                        <dxi-item formatName="undo"></dxi-item>
                        <dxi-item formatName="redo"></dxi-item>
                        <dxi-item formatName="separator"></dxi-item>
                        <dxi-item formatName="size"
                            [formatValues]="['8pt', '10pt', '12pt', '14pt', '18pt', '24pt', '36pt']"></dxi-item>
                        <dxi-item formatName="font"
                            [formatValues]="['Arial', 'Courier New', 'Georgia', 'Impact', 'Lucida Console', 'Tahoma', 'Times New Roman', 'Verdana']">
                        </dxi-item>
                        <dxi-item formatName="separator"></dxi-item>
                        <dxi-item formatName="bold"></dxi-item>
                        <dxi-item formatName="italic"></dxi-item>
                        <dxi-item formatName="strike"></dxi-item>
                        <dxi-item formatName="underline"></dxi-item>
                        <dxi-item formatName="separator"></dxi-item>
                        <dxi-item formatName="alignLeft"></dxi-item>
                        <dxi-item formatName="alignCenter"></dxi-item>
                        <dxi-item formatName="alignRight"></dxi-item>
                        <dxi-item formatName="alignJustify"></dxi-item>
                        <dxi-item formatName="separator"></dxi-item>
                        <dxi-item formatName="color"></dxi-item>
                        <dxi-item formatName="background"></dxi-item>
                    </dxo-toolbar>
                </dx-html-editor>
            </dxi-item>
            <dxi-item itemType="group" [colCount]="1" caption="Resultado">
                <dx-html-editor [height]="370" [width]="700">
                    <dxo-toolbar>
                        <dxi-item formatName="undo"></dxi-item>
                        <dxi-item formatName="redo"></dxi-item>
                        <dxi-item formatName="separator"></dxi-item>
                        <dxi-item formatName="size"
                            [formatValues]="['8pt', '10pt', '12pt', '14pt', '18pt', '24pt', '36pt']"></dxi-item>
                        <dxi-item formatName="font"
                            [formatValues]="['Arial', 'Courier New', 'Georgia', 'Impact', 'Lucida Console', 'Tahoma', 'Times New Roman', 'Verdana']">
                        </dxi-item>
                        <dxi-item formatName="separator"></dxi-item>
                        <dxi-item formatName="bold"></dxi-item>
                        <dxi-item formatName="italic"></dxi-item>
                        <dxi-item formatName="strike"></dxi-item>
                        <dxi-item formatName="underline"></dxi-item>
                        <dxi-item formatName="separator"></dxi-item>
                        <dxi-item formatName="alignLeft"></dxi-item>
                        <dxi-item formatName="alignCenter"></dxi-item>
                        <dxi-item formatName="alignRight"></dxi-item>
                        <dxi-item formatName="alignJustify"></dxi-item>
                        <dxi-item formatName="separator"></dxi-item>
                        <dxi-item formatName="color"></dxi-item>
                        <dxi-item formatName="background"></dxi-item>
                    </dxo-toolbar>
                </dx-html-editor>
            </dxi-item>
        </dxi-item>
        <!------->
        <dxi-item itemType="group" [colCount]="2">
            <dxi-item itemType="group" [colSpan]="1" [colCount]="2">
                <dxi-item itemType="group">
                    <dxi-item itemType="button" horizontalAlignment="start" [buttonOptions]="buttonimprimirOptions">
                    </dxi-item>
                </dxi-item>
                <dxi-item itemType="group">
                    <dxi-item itemType="button" horizontalAlignment="start" [buttonOptions]="buttonnuevoOptions">
                    </dxi-item>
                </dxi-item>
            </dxi-item>
            <dxi-item itemType="group" [colSpan]="1">
            </dxi-item>
        </dxi-item>
    </dx-form>
</div>