<div class="search-field-wrapper">
    <dx-text-box [(value)]="searchFieldValue" cssClass="w-100"></dx-text-box>
    <dx-button icon="search" (onClick)="onClickSearchField($event)"></dx-button>
</div>