::ng-deep .dx-datagrid-headers {
    color: #ffffff !important;
    background-color: #38ada5 !important;
    font-weight: bolder!important;
    font: 100 14px verdana !important;
}

.remisionpoc {
    text-transform: uppercase !important;
}

::ng-deep #grid-remisionant {
    height: 390px !important;
}