<div class="posicion mt-3 mr-5 ml-5">
    <dx-form #formRemision labelLocation="left" [(formData)]='remisionesDto'>
        <dxi-item itemType="group">
            <dxi-item itemType="group" [colCount]="2">
                <dxi-item itemType="group">
                    <dxi-item dataField="identificación" [editorOptions]="{ disabled: false }">
                        <dxi-validation-rule type="required" message="IdPaciente es requerido">
                        </dxi-validation-rule>
                    </dxi-item>
                    <dxi-item dataField="nombres" [editorOptions]="{ disabled: false }">
                    </dxi-item>
                    <dxi-item dataField="apellidos" [editorOptions]="{ disabled: false }">
                    </dxi-item>
                </dxi-item>
                <dxi-item itemType="group">
                    <dxi-item dataField="administradora" [editorOptions]="{ disabled: false }">
                    </dxi-item>
                    <dxi-item dataField="plan" [editorOptions]="{ disabled: false }">
                    </dxi-item>
                </dxi-item>
            </dxi-item>
        </dxi-item>
        <!------>
        <dxi-item itemType="group">
            <div class="separador"></div>
        </dxi-item>
        <dxi-item itemType="group">
            <dxi-item itemType="group" [colCount]="2">
                <dxi-item itemType="group">
                    <dxi-item dataField="Especialidad" editorType="dxSelectBox"
                        [editorOptions]="{ items: itemsEspecialidad, displayExpr: 'value', valueExpr: 'key' }">
                        <dxi-validation-rule type="required" message="El Tipo de indentificacion es requerido">
                        </dxi-validation-rule>
                        <dxo-label text="Especialidad"></dxo-label>
                    </dxi-item>
                </dxi-item>
                <dxi-item dataField="Remitido" editorType="dxSelectBox"
                    [editorOptions]="{ items: itemsRemitido, displayExpr: 'value', valueExpr: 'key' }">
                    <dxi-validation-rule type="required" message="El Tipo de indentificacion es requerido">
                    </dxi-validation-rule>
                    <dxo-label text="Remitido a"></dxo-label>
                </dxi-item>
            </dxi-item>
        </dxi-item>
        <dxi-item itemType="group" [colCount]="3">
            <dxi-item itemType="group" [colSpan]="2" caption="Remitido" class="label">
                <dx-html-editor [height]="390" [width]="950">
                    <dxo-toolbar>
                        <dxi-item formatName="undo"></dxi-item>
                        <dxi-item formatName="redo"></dxi-item>
                        <dxi-item formatName="separator"></dxi-item>
                        <dxi-item formatName="size"
                            [formatValues]="['8pt', '10pt', '12pt', '14pt', '18pt', '24pt', '36pt']"></dxi-item>
                        <dxi-item formatName="font"
                            [formatValues]="['Arial', 'Courier New', 'Georgia', 'Impact', 'Lucida Console', 'Tahoma', 'Times New Roman', 'Verdana']">
                        </dxi-item>
                        <dxi-item formatName="separator"></dxi-item>
                        <dxi-item formatName="bold"></dxi-item>
                        <dxi-item formatName="italic"></dxi-item>
                        <dxi-item formatName="strike"></dxi-item>
                        <dxi-item formatName="underline"></dxi-item>
                        <dxi-item formatName="separator"></dxi-item>
                        <dxi-item formatName="alignLeft"></dxi-item>
                        <dxi-item formatName="alignCenter"></dxi-item>
                        <dxi-item formatName="alignRight"></dxi-item>
                        <dxi-item formatName="alignJustify"></dxi-item>
                        <dxi-item formatName="separator"></dxi-item>
                        <dxi-item formatName="color"></dxi-item>
                        <dxi-item formatName="background"></dxi-item>
                    </dxo-toolbar>
                </dx-html-editor>
            </dxi-item>
            <dxi-item itemType="group" caption="Remisiones anteriores">
                <dxi-item itemType="group">
                    <dx-data-grid id="grid-remisionant" keyExpr="Fecha" [dataSource]="evolucionDxgrid"
                        [showRowLines]="false" [showColumnLines]="true" [showBorders]="true"
                        [rowAlternationEnabled]="true" [hoverStateEnabled]="true" [selectedRowKeys]="[]">
                        <!-- Paginación -->
                        <dxo-scrolling mode="infinite"></dxo-scrolling>
                        <dxo-editing mode="row" [allowUpdating]="false" [allowAdding]="false" [allowDeleting]="false">
                        </dxo-editing>
                        <dxo-selection mode="allMode"></dxo-selection>
                        <dxi-column dataField="fecha" [width]="188"></dxi-column>
                        <dxi-column dataField="atencion" [width]="288"></dxi-column>
                        <dxi-column dataField="descripcion" [visible]="false"></dxi-column>
                    </dx-data-grid>
                </dxi-item>
            </dxi-item>
        </dxi-item>
        <dxi-item itemType="group" [colCount]="2">
            <dxi-item itemType="group" [colSpan]="1" [colCount]="2">
                <dxi-item itemType="group">
                    <dxi-item itemType="button" horizontalAlignment="start" [buttonOptions]="buttonimprimirOptions">
                    </dxi-item>
                </dxi-item>
                <dxi-item itemType="group">
                    <dxi-item itemType="button" horizontalAlignment="start" [buttonOptions]="buttonnuevoOptions">
                    </dxi-item>
                </dxi-item>
            </dxi-item>
            <dxi-item itemType="group" [colSpan]="1">
            </dxi-item>
        </dxi-item>
    </dx-form>
</div>