::ng-deep #form {
    max-width: 700px;
    margin: auto;
}

::ng-deep #button {
    margin-top: 5px !important;
    float: right;
    border-color: #38ada5 !important;
}

::ng-deep #fileuploader-container {
    border: 1px solid #d3d3d3;
    border-color: #38ada5 !important;
    margin: 4px 0px 10px 0px;
    border-radius: 5px;
    border-bottom: 0.4px solid;
    border-top: 0.4px solid;
    border-right: 0.4px solid;
    border-left: 0.4px solid;
}

::ng-deep #form h3 {
    margin-left: 20px;
    font-weight: normal;
    font-size: 22px;
}

::ng-deep #grid-adjuntarArchivo {
    height: 385px;
    max-width: 100% !important;
    text-align: center;
}

::ng-deep .dx-datagrid-headers {
    color: #ffffff !important;
    background-color: #38ada5 !important;
    font-weight: bolder!important;
    font: 100 14px verdana !important;
}

::ng-deep #employeeInfo .employeePhoto {
    height: 100px;
    float: left;
    padding: 20px;
}

::ng-deep #employeeInfo .employeeNotes {
    padding-top: 20px;
    text-align: justify;
}

::ng-deep .dark #employeeInfo .employeeNotes {
    color: rgb(181, 181, 181);
}