<div class="posicion mt-3 mr-5 ml-5 mb-3">
    <dx-form #formadjuntarImagenes labelLocation="left">
        <dxi-item itemType="group">
            <dxi-item itemType="group" [colCount]="3">
                <dxi-item itemType="group">
                    <dxi-item dataField="identificación" [editorOptions]="{ disabled: false }">
                    </dxi-item>
                </dxi-item>
                <dxi-item itemType="group">
                    <dxi-item dataField="nombres" [editorOptions]="{ disabled: false }">
                    </dxi-item>
                </dxi-item>
                <dxi-item itemType="group">
                    <dxi-item dataField="apellidos" [editorOptions]="{ disabled: false }">
                    </dxi-item>
                </dxi-item>
            </dxi-item>
            <dxi-item itemType="group">
                <dxi-item dataField="observaciones" [editorOptions]="{ disabled: false }">
                </dxi-item>
            </dxi-item>
        </dxi-item>
        <dxi-item itemType="group" [colCount]="2" caption="Adjuntar imagenes">
            <dxi-item itemType="group">
                <dxi-item itemType="group">
                    <dx-data-grid #grid id="grid-adjuntarArchivo" keyExpr="ID" [dataSource]="employees"
                        [showRowLines]="false" [showColumnLines]="true" [showBorders]="true"
                        [rowAlternationEnabled]="true" [hoverStateEnabled]="true" [selectedRowKeys]="[]">

                        <!-- Paginación -->
                        <dxo-scrolling mode="infinite"></dxo-scrolling>
                        <dxo-editing mode="row" [allowUpdating]="false" [allowAdding]="false" [allowDeleting]="false">
                        </dxo-editing>
                        <!-- Columnas -->
                        <dxo-selection mode="single"></dxo-selection>
                        <dxi-column dataField="idImagen" [visible]="false"></dxi-column>
                        <dxi-column dataField="fecha" [width]="140"></dxi-column>
                        <dxi-column dataField="nroAtencion"></dxi-column>
                        <dxi-column dataField="observaciones" [visible]="false"></dxi-column>
                    </dx-data-grid>

                    <!-- <dxi-item itemType="group">
                        <div id="employeeInfo" *ngIf="grid.selectedRowKeys.length">
                            <img class="employeePhoto" [src]="grid.instance.getSelectedRowsData()[0].Picture" />
                        </div>
                    </dxi-item> -->
                </dxi-item>
                <dxi-item itemType="group" [colCount]="3">
                    <dxi-item itemType="group" [colSpan]="2">
                        <dx-file-uploader selectButtonText="Selecciona la imagen" labelText="o soltar imagen aquí"
                            accept="image/*" uploadMode="useForm">
                        </dx-file-uploader>
                    </dxi-item>

                    <dxi-item itemType="group">
                        <dxi-item itemType="button" horizontalAlignment="start" [buttonOptions]="buttonGuardarOptions">
                        </dxi-item>
                    </dxi-item>

                </dxi-item>
            </dxi-item>
            <dxi-item itemType="group">
                <dxi-item itemType="group">
                    <div id="employeeInfo" *ngIf="grid.selectedRowKeys.length">
                        <img class="employeePhoto" [src]="grid.instance.getSelectedRowsData()[0].Picture" />
                    </div>
                </dxi-item>
                <dxi-item itemType="group">
                    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100 h-400"
                                    src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).jpg" alt="First slide">
                            </div>
                        </div>
                    </div>
                </dxi-item>
            </dxi-item>
        </dxi-item>
    </dx-form>
</div>